
.ima img{
	/*padding-right: 5rem;*/
	width: 166px;
    height: 173px;
    float: left;
}
.content {
	border-radius: 10px;
	border: 5px solid black;
	display: block;
    padding-left: 3rem;
    margin-left: 15rem;
    padding-top: 12px;
}
div#my-div {
    margin-top: 4.0rem;
    float: left;
    border-top: 40px solid #DAC1C1;
    width: 0;
    height: 0;
    border-left: 74px solid transparent;
    border-right: 0px solid transparent;
}